.page__body {
    width: 100%;
    height: 100vh;
    min-height: 720px;
    min-width: 480px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #FFFFFF;

    background: url("../images/background.png") center / cover no-repeat;
}

/* Header */
.body__header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    padding: 18px 79px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-weight: 700;
    font-size: 22px;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-icons {
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    margin-right: 27px;
}

/* How to change opacity of line in better way? */
.body__header .header-menu-icons:hover {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 27px;
}

.icons-link {
    margin-right: 25px;
}

.icons-link .header-icon:hover {
    fill: #3CB878;
    transition: 0.5s;
}

.green-link:hover {
    color: #3CB878;
    transition: 0.5s;
}

/* Form */
.body__main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 58px);
}

.main-form {
    width: 444px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    padding: 29px 60px 38px;
    position: relative;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.green-square {
    position: absolute;
    left: 0;
    top: 29px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.form-sign-up {
    font-size: 20px;
    color: #434343;
}

.form-log-in {
    font-size: 14px;
    color: #3CB878;
}

.green-underline-link:hover {
    color: #01813F;
    transition: 0.5s;
    text-decoration: underline;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-line {
    width: 48px;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.btn {
    display: flex;
    align-items: center;

    width: 160px;
    height: 48px;
    border-radius: 4px;
    color: white;
    font-size: 16px;

    padding: 10px 0;
}

.btn-text {
    flex-grow: 2;
}

.btn + .btn {
    margin-left: 4px;
}

.btn-blue {
    background: #305DB8;
}

.btn-red {
    background: #DF4A32;
}

.btn-blue:hover {
    background: #022263;
}

.btn-red:hover {
    background: #AB1F09;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848484;
    margin-top: 31px;
    margin-bottom: 12px;
}

.or::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #848484;
    margin-right: 3px;
}

.or::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #848484;
    margin-left: 3px;
}

.input-text {
    width: 324px;
    height: 44px;

    margin-bottom: 15px;

    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

.input-text::placeholder {
    color: #BEBEBE;
    font-size: 14px;
}

.input-text:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: none;
}

.form-agreement {
    display: flex;
    align-items: center;
    color: #434343;
    margin-bottom: 20px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
}

/*input[type="checkbox"]:checked + label:before,*/
/*input[type="checkbox"]:not(:checked) + label:before {*/
/*    border-radius: 2px;*/
/*}*/

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    position: absolute;
    content: url(../images/checkbox-sign.svg);
    left: 2px;
    top: 2px;
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}

.terms-and-cond-link {
    color: #3CB878;
}

.submit-btn {
    width: 324px;
    height: 46px;

    background-color: #3cb878;
    border-radius: 4px;

    font-size: 16px;
    color: #ffffff;
}

.submit-btn:hover {
    background: #01813F;
}






